summary {
  text-align: center;
}
details > summary {
  padding: 2px 6px;
  width: 100%;
  background-color: #EAE7DD;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
}
code {
  background-color: #2b2d31;
  color: #dbdee1;
  padding: 1px 3px;
  border-radius: 3px;
  font-family: monospace;
}
li {
  font-size: 15px;
}
.title_site {
  color: #106EBE;
}
