/* IN ALL PAGES */
html, body {
	margin: 0;
	padding: 0;
}
.btn { 
    background-color: #FF921C; 
    color: #F2F0EA;
	border: 3px solid #F2F0EA;
	border-radius: 5px;
	padding: 8px 16px;
	font-family: monospace;
	font-weight: bold;
	cursor: pointer;
	margin-left: 10px;
}
.btn:hover {
    background-color: #ffad4d;
}
.btn2 { 
    background-color: #FF921C; 
    color: #F2F0EA;
	border: 3px solid #F2F0EA;
    border-radius: 5px;
	padding: 8px 6px;
    font-family: monospace;
    font-weight: bold;
	cursor: pointer;
	margin-left: auto;
	margin-right: 5px;
}
.btn2:hover {
    background-color: #ffad4d;
}
.nou {
	text-decoration: none;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	height: 50px;              /* OBLIGATOIRE */
	background-color: #FF921C;
	font-size: 125%;
    color: #2C2E39;
	display: flex;
	align-items: center;
}
footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2a2e64;
    font-size: 110%;
    color: #F2F0EA;
    text-align: center;
}
a:link {
    color: #F2F0EA;
}
a:visited {
    color: #F2F0EA;
}
a:hover {
    color: #F2F0EA;
}
a:active, a:focus {
    color: #F2F0EA;
}
body {
    padding-top: 40px;
    background-color: #252121;
    font-size: 150%;
    color: white;
    text-align: left;
}
h1 {
	background-color: #252121;
    font-size: 200%;
    color: white;
    text-align: center;
}
h2 {
	background-color: #252121;
    font-size: 150%;
    color: white;
    text-align: center;
}
h3 {
	background-color: #252121;
    font-size: 125%;
    color: white;
}
/* IN ALL PAGES */
