/* PAGE HOME */
h3 {
  font-size: 125%;
  text-align: center;
}
h4 {
  text-align: center;
}
h5 {
  text-align: center;
}
li {
  text-align: center;
}
h6 {
  text-align: center;
}
details {
  text-align: center;
}
details > summary {
  padding: 2px 6px;
  width: 100%;
  background-color: #191616;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
}
.title_site {
  color: #106EBE;
}
.separateur {
  width: 100%;
  height: 2px;
  background-color: black;
}
/* PAGE HOME */
