/* PAGE DU WIKI - MINIONS*/
.text_minion {
  text-align: center;
}
details > summary {
  padding: 2px 6px;
  width: 100%;
  background-color: #EAE7DD;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
}
/* PAGE DU WIKI - MINIONS*/
