/* ===== TITRES ===== */
h1, h2 {
    text-align: center;
}
h1 { font-size: 150%; }
h2 { font-size: 125%; }
/* ===== TITRE COULEUR ===== */
.title_site { color: #106EBE; }
/* ===== COULEURS LISTE ===== */
.base {
    color: #58C3E6;
}
.command {
  	color: #F8C048;
}
