.text_minion {
  	text-align: center;
}
details > summary {
  	padding: 2px 6px;
  	width: 100%;
  	background-color: #0a0909;
  	border: none;
  	box-shadow: 3px 3px 4px black;
  	cursor: pointer;
}
.case {
	position: relative;
  	width: auto;
  	margin-top: 30px;
	display: flex;
}
p {
	font-size: 20px;
}
/* CASES - BLANCHE */
.box_white {
	/* AFFICHAGE */
	width: auto;
	display: flex;
	text-align: center;
	gap: 10px;
	padding: 20px;

	/* BORDURES */
	border: 3px solid #ffffff;
	border-radius: 20px;

	/* EFFET NEON BLANC */
	box-shadow:
		0 0 8px rgba(255, 255, 255, 0.9),
		0 0 20px rgba(255, 255, 255, 0.6),
		0 0 40px rgba(255, 255, 255, 0.4),
		0 10px 30px rgba(0, 0, 0, 0.4);
}
.time_white {
	position: absolute;
	top: -15px;
	left: 12px;

	background: rgba(0, 0, 0, 0.9);
	padding: 4px 10px;

	font-size: 25px;
	color: #ffffff;

	border-radius: 20px;
	border: 2px solid #ffffff;

	box-shadow:
		0 0 6px rgba(255, 255, 255, 0.9),
		0 0 14px rgba(255, 255, 255, 0.6);
}
/* CASES - VERTE */
.box_green {
	/* AFFICHAGE */
  	width: auto;
	display: flex;
	text-align: center;
	gap: 10px;
	padding: 20px;

  	/* BORDURES */
  	border: 3px solid #39ff14;
	border-radius: 20px;

  	/* EFFET NEON */
  	box-shadow:
    	0 0 8px rgba(57, 255, 20, 0.8),
    	0 0 20px rgba(57, 255, 20, 0.6),
    	0 0 40px rgba(0, 255, 0, 0.4),
    	0 10px 30px rgba(0,0,0,0.4);
}
.time_green {
  	position: absolute;
  	top: -15px;
  	left: 12px;

  	background: rgba(0, 0, 0, 0.9);
	padding: 4px 10px;
	
	font-size: 25px;
  	color: #39ff14;

  	border-radius: 20px;
  	border: 2px solid #39ff14;

  	box-shadow:
    	0 0 6px rgba(57, 255, 20, 0.8),
    	0 0 14px rgba(57, 255, 20, 0.5);
}
	/* CASES - BLEUE */
.box_blue {
	/* AFFICHAGE */
  	width: auto;
	display: flex;
	text-align: center;
	gap: 10px;
	padding: 20px;

  	/* BORDURES */
  	border: 3px solid #00b3ff;
	border-radius: 20px;

  	/* EFFET NEON */
  	box-shadow:
    	0 0 4px rgba(0, 179, 255, 0.8),
    	0 0 10px rgba(0, 179, 255, 0.6),
    	0 0 20px rgba(0, 140, 255, 0.4),
    	0 5px 15px rgba(0,0,0,0.4);
}
.time_blue {
	position: absolute;
  	top: -15px;
  	left: 12px;

  	background: rgba(0, 0, 0, 0.9);
	padding: 4px 10px;
	
	font-size: 25px;
  	color: #00b3ff;

  	border-radius: 20px;
  	border: 2px solid #00b3ff;

  	box-shadow:
    	0 0 4px rgba(0, 179, 255, 0.8),
    	0 0 10px rgba(0, 179, 255, 0.5);
}
/* CASES - ROUGE */
.box_red {
	/* AFFICHAGE */
  	width: auto;
	display: flex;
	text-align: center;
	gap: 10px;
	padding: 20px;

  	/* BORDURES */
  	border: 3px solid #ff1744;
	border-radius: 20px;

  	/* EFFET NEON */
  	box-shadow:
    	0 0 4px rgba(255, 23, 68, 0.8),
    	0 0 10px rgba(255, 23, 68, 0.6),
    	0 0 20px rgba(255, 0, 60, 0.4),
    	0 5px 15px rgba(0,0,0,0.4);
}
.time_red {
	position: absolute;
  	top: -15px;
  	left: 12px;

  	background: rgba(0, 0, 0, 0.9);
	padding: 4px 10px;
	
	font-size: 25px;
  	color: #ff1744;

  	border-radius: 20px;
  	border: 2px solid #ff1744;

  	box-shadow:
    	0 0 4px rgba(255, 23, 68, 0.8),
    	0 0 10px rgba(255, 23, 68, 0.5);
}
/* CASES - AQUA */
.box_aqua {
	/* AFFICHAGE */
	width: auto;
	display: flex;
	text-align: center;
	gap: 10px;
	padding: 20px;

	/* BORDURES */
	border: 3px solid #00ffff;
	border-radius: 20px;

	/* EFFET NEON AQUA */
	box-shadow:
		0 0 8px rgba(0, 255, 255, 0.9),
		0 0 20px rgba(0, 255, 255, 0.6),
		0 0 40px rgba(0, 255, 255, 0.4),
		0 10px 30px rgba(0, 0, 0, 0.4);
}
.time_aqua {
	position: absolute;
	top: -15px;
	left: 12px;

	background: rgba(0, 0, 0, 0.9);
	padding: 4px 10px;

	font-size: 25px;
	color: #00ffff;

	border-radius: 20px;
	border: 2px solid #00ffff;

	box-shadow:
		0 0 6px rgba(0, 255, 255, 0.9),
		0 0 14px rgba(0, 255, 255, 0.6);
}
/* CASES - VIOLET */
.box_violet {
	/* AFFICHAGE */
	width: auto;
	display: flex;
	text-align: center;
	gap: 10px;
	padding: 20px;

	/* BORDURES */
	border: 3px solid #bb00ff;
	border-radius: 20px;

	/* EFFET NEON VIOLET */
	box-shadow:
		0 0 8px rgba(187, 0, 255, 0.9),
		0 0 20px rgba(187, 0, 255, 0.6),
		0 0 40px rgba(187, 0, 255, 0.4),
		0 10px 30px rgba(0, 0, 0, 0.4);
}
.time_violet {
	position: absolute;
	top: -15px;
	left: 12px;

	background: rgba(0, 0, 0, 0.9);
	padding: 4px 10px;

	font-size: 25px;
	color: #bb00ff;

	border-radius: 20px;
	border: 2px solid #bb00ff;

	box-shadow:
		0 0 6px rgba(187, 0, 255, 0.9),
		0 0 14px rgba(187, 0, 255, 0.6);
}
/* CASES - JAUNE */
.box_yellow {
	/* AFFICHAGE */
	width: auto;
	display: flex;
	text-align: center;
	gap: 10px;
	padding: 20px;

	/* BORDURES */
	border: 3px solid #ffff00;
	border-radius: 20px;

	/* EFFET NEON JAUNE */
	box-shadow:
		0 0 8px rgba(255, 255, 0, 0.9),
		0 0 20px rgba(255, 255, 0, 0.6),
		0 0 40px rgba(255, 255, 0, 0.4),
		0 10px 30px rgba(0, 0, 0, 0.4);
}
.time_yellow {
	position: absolute;
	top: -15px;
	left: 12px;

	background: rgba(0, 0, 0, 0.9);
	padding: 4px 10px;

	font-size: 25px;
	color: #ffff00;

	border-radius: 20px;
	border: 2px solid #ffff00;

	box-shadow:
		0 0 6px rgba(255, 255, 0, 0.9),
		0 0 14px rgba(255, 255, 0, 0.6);
}
/* IMAGES */
img {
	max-width: 300px;
	height: auto;
	margin-left: 0%;
}
