<!-- OBLIGATOIRE SUR TOUT LE SITE -->
<!DOCTYPE html> 
<link rel="stylesheet" type="text/css" href="style.css">
<html lang="fr">
	<html>
		<head>
			<meta charset="UTF-8">
			<meta name="viewport" content="width=device-width, initial-scale=1.0">
			<link rel="icon" type="image/png" href="images/favicon.png">
    		<title>AllPlugs - Serveur Minecraft</title> <!-- CHANGE SELON LA PAGE -->
		</head>
		<header>
    		<button class="btn">
				<a href="index.html">Home</a>
			</button> 
			<button class="btn">
				<a href="patch.html">Patch</a>
			</button> 
			<button class="btn">
				<a href="wiki.html">Wiki</a> 
			</button>
			<button class="btn">
				<a href="vote.html">Votes</a>
			</button>
			<button class="btn2">
				<a href="./sombre/index.html" class="nou">🌑</a> <!-- CHANGE SELON LA PAGE -->
			</button>
		</header>
<!-- OBLIGATOIRE SUR TOUT LE SITE -->
    {{ content }}
<!-- OBLIGATOIRE SUR TOUT LE SITE -->
		<footer>© 2025 AllPlugs</footer>
<!-- OBLIGATOIRE SUR TOUT LE SITE -->
  </html>
</html>
