/* ===== TEXT ===== */
h1,  summary, details > summary {
    text-align: center;
}
h1 { font-size: 150%; }
li { font-size: 15px; }
h7 { font-size: 50%; } /* -# de discord */
/* le ``text`` de discord */
code {
    background-color: #2b2d31;
    color: #dbdee1;
    padding: 1px 3px;
    border-radius: 3px;
    font-family: monospace;
}
/* ===== TITRE COULEUR ===== */
.title_site { color: #106EBE; }
/* ===== AUTRES ===== */
details > summary {
    padding: 2px 6px;
    width: 100%;
    background-color: #0a0909;
    border: none;
    box-shadow: 3px 3px 4px black;
    cursor: pointer;
}
