/* ===== TEXT ===== */
h1 {
    text-align: center;
    font-size: 150%;
}
h2 {
    text-align: center;
    font-size: 135%;
}
h3 {
    margin-left: 8%;
    font-size: 120%;
}
h4 {
    margin-left: 5%;
    font-size: 115%;
}
/* ===== TITRE COULEUR ===== */
.title_site { color: #106EBE; }
