/* ===== TEXT ===== */
h1 {
    text-align: center;
}
h1 { font-size: 150%; }
/* ===== TITRE COULEUR ===== */
.title_site { color: #106EBE; }
.produit {
    background: white;
    width: 300px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 8px;
}
